.filterGroupStructure__container {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
	align-items: center;
}
.button {
	min-width: 30px;
	min-height: 30px;
	max-width: 30px;
	max-height: 30px;
	border: none;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.button_filter {
	color: #fff;
	font-size: 16px;
}
@media only screen and (max-width: 700px) {
	.filterGroupStructure__container {
		flex-direction: column;
	}
}
