.body:hover {
	cursor: pointer;
}
.image {
	position: relative;
	top: -40px;
	left: 50%;
	transform: translateX(-15%);
}
.card {
	height: 500px;
	width: 255px;
	height: 371px;
	gap: 0px;
	border-radius: 15px;
	border: 1px solid #09a8b0;
}
.content {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}
.title {
	font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	line-height: 19.2px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}
.divisor {
	width: 88px;
	padding: 1px;
	background-color: #09a8b0;
	margin: 30px;
}
.paragraph {
	padding: 10px;
	font-size: 16px;
	font-weight: 400;
	line-height: 15.36px;
	text-align: justify;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #3a3f4b;
}
